body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wd-paddingtop-6p {
    padding-top: 6px;
}

.wd-paddingbottom-6p {
    padding-bottom: 6px;
}

.wd-fontcolor-darkred {
    color: red;
}

.wd-leftnav-fontsize-12px {
    font-size: 12px;
}

.wd-sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wd-link-white {
    color: white;
    text-decoration: none;
}

.wd-links-container {
    width: 100%;
}

.wd-link-active {
    background-color: white;
    color: red;
    text-decoration: none;
}

.wd-sidebar-icon {
    color: red;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.wd-main-div {
    border-color: black;
}

.wd-breadcrumbs {
    height: 5%;
}

.wd-main-content-class {
    height: 95%;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-width-75px {
    width: 75px;
    background-color: black;
}

.wd-center-text {
    text-align: center;
}

.wd-flex-col-container {
    display: flex;
    flex-direction: column;
}

.wd-darkbg-height {
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
}

.wd-paddingtop-10p {
    padding-top: 10%;
}

.wd-paddingbottom-10p {
    padding-bottom: 10%;
}

.wd-fontcolor-red {
    color: red;
}

.wd-link-white {
    text-decoration: none;
    color: white;
}

.wd-paddingtop-6p {
    padding-top: 6%;
}

.wd-paddingbottom-6p {
    padding-bottom: 6%;
}

.wd-lightbg {
    background-color: white;
    color: red;
}

.wd-fontcolor-black {
    color: black;
}

.wd-fontcolor-grey {
    background-color: white;
    color: gray;
}

.wd-leftnav-fontsize-12px {
    font-size: 12px;
}

.wd-word-wrap {
    word-wrap: break-word;
}

.wd-link-red {
    text-decoration: none;
    color: red;
}

.wd-link-red:hover {
    color: red;
}

.wd-link-black {
    text-decoration: none;
    color: black;
}

.wd-link-black:hover {
    color: black;
}

.wd-vertical-line {
    border-left: 2px solid black;
    height: 100px;
    padding-left: 1px;
}

.wd-padding-left-3p {
    padding-left: 3%;
}

.wd-padding-right-3p {
    padding-right: 3%;
}

.wd-width-100p {
    width: 100%;
}

.wd-paddingtop-20px {
    padding-top: 20px;
}

.wd-width-125px {
    width: 125px;
}

.wd-font-size-140px {
    font-size: 140px;
}

.wd-font-size-30px {
    font-size: 30px;
}

.wd-font-size-25px {
    font-size: 25px;
}

.wd-width-60p {
    width: 60%;
}

.wd-display-flex {
    display: flex;
}

.wd-padding-left-5p {
    padding-left: 5%;
}

.wd-padding-right-2p {
    padding-right: 2%;
}

.wd-special-flex-direction-row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .wd-special-flex-direction-row {
        display: flex;
        flex-direction: column;
    }
}

.wd-flex-3 {
    flex: 3;
}

.wd-flex-1 {
    flex: 1;
}

.wd-paddingtop-15px {
    padding-top: 15px;
}

.wd-breadcrumbs-inline {
    display: inline-block;
}

.wd-home-label {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wd-home-width-150px {
    width: 150px;
}

.wd-green-check-circle {
    color: green;
}

.wd-padding-left-15p {
    padding-left: 15%;
}

.wd-list-border-green {
    border-left: 5px solid green;
}

.wd-paddingtop-listgroup-15p {
    padding-top: 15px;
}

/* Styles for the search input */
.wd-search-input {
    width: 20%; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px;
    border: 2px solid lightgray; /* Border color */
    border-radius: 5px; /* Optional: for rounded corners */
    outline: none;
    float: left; /* Float the text field to the left */
}

.wd-link-content-bold {
    font-weight: bold;
}


.wd-nav-format {
    color: red; /* Red color for active and inactive tabs */
    background-color: #ffffff; /* Background color for active and inactive tabs */
    border-color: red; /* Border color for active and inactive tabs */
}

.wd-nav-format .nav-link {
    color: red; /* Red color for inactive tabs */
}


/* Hover effect for inactive tabs (optional) */
.wd-nav-format .nav-link:hover {
    color: red; /* Lighter red color on hover */
}

